<%= form_for post do |form| %> 
  <div class="m-3 d-flex flex-column">
   <%= form.text_field :message %>
  </div>
  <%= button_tag type: "submit", class: "send-post", id: "send-button" do %>
  <i class='fas fa-paper-plane'></i>
  <% end %>
<% end %>   